/*Configurações principais*/
body {
    background-color: #37343A;
    font-family: Arial, Helvetica, sans-serif;
}

/*Cor primaria */
h1, a, caption, th{
    color: #BCA586;
    font-size: 5,5;
}

/*Cor segundaria */
h2, h3, ol, ul, figure, p, dl, h4, blockquote, address, pre, td{
    color: #8DAA98
}

/*Navegação*/
nav ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #3A3F4B;
} 

nav li{
    float: left;
    border-right: 1px solid #504d66ad;
}

nav li:last-child{
    border-right: none;
}

nav li a{
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav li a:hover{
    background-color: #504d66ad;
}

#Inicio{
    float: right;
    background-color: #504d66ad;
}

/*Cabeçalho*/
header h1{
    text-align: center;
    background-color: #3A3F4B;
    padding: 10px;
    margin-top: 0;
}

/*Rodapé*/
footer address{
    text-align: center;
    margin-top: 50px;
}

/*
Palheta de cores:

A: #37343A
B: #BCA586
C: #8DAA98
D: #3A3F4B
E: #2A2E37
DB: #504d66ad
EB: #43435a34
*/