/*Cor de fundo*/
body {
    background-color: rgb(30, 30, 30);
}
/*Cor primaria*/
h1, a, caption, th{
    color: rgb(49, 120, 208);
    font-size: 5,5;
}
/*Cor segundaria*/
h2, h3, ol, ul, figure, p, dl, h4, blockquote, address, pre, td{
    color: rgb(106, 141, 62);
}
/*Tabela padrão*/
th, td {
    border: 1px solid rgb(49, 120, 208);
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
}
/*Tabela padrão*/
table {
    border: 1px solid rgb(49, 120, 208);
}
/*Tabela 1*/
table.Table1{
    border: 1px solid rgb(49, 120, 208);
    border-collapse: collapse;
    text-align: center;
}
/*Tabela 2*/
table.Table2 {
    background-color: rgb(46, 46, 46);
    border: 1px solid rgb(49, 120, 208);
    text-align: center;
}